@charset "UTF-8";
body {color: coral;}
h1 {text-align: center;}
a {text-decoration: none;color: rgb(34, 96, 178);padding: 15px;border: 5px solid darkcyan;
    border-radius: 10px;margin: 10px;}
a:hover {transform: scale(1.1);}